<div><a href="/projects/{{relationships.project.data.id}}/requests/{{id}}">{{attributes.title}} - {{attributes.description}}</a></div>

<p>Comments: </p>
<ul>
  {{#each relationships.comments.data}}
    {{> comments/_commentli parameter=relationships.comments.data}}
  {{/each}}
</ul>
