<p>Last Updated: {{date}}</p>

<p>Comments: </p>
<div class="request-comments">
  <ul>
  {{#each attributes.comments}}
    {{> comments/_commentli parameter=attributes.comments}}
  {{/each}}
  </ul>
</div>
