<h1><%= @user.name %></h1>

<div class="user-description">
  Email: <%= @user.email %>
  <br>
  Organization: <%= @user.organization_name %>
</div>

<%= link_to "edit", edit_registration_path(@user) if @user == current_user %>
