<h1><%= @user.name %></h1>

<div class="user-description">
  <strong>Email:</strong> <%= @user.email %>
  <br>
  <strong>Organization:</strong> <%= @user.organization_name %>
</div>

<%= link_to "Edit", edit_registration_path(@user) if @user == current_user %>
