<tr>
  <td class="numbering">
    <%= request.request_number %>
  </td>

  <%= request_status_td(request) %>

  <td class="request-info">
    <%= link_to "#{request.title} - #{request.description_trunc}",
     project_request_path(request.project, request) %>
  </td>
  <td class="table-icon-row">
    <i class="fa fa-cloud-upload"> 0</i>
  </td>
  <td class="table-icon-row">
    <i class="fa fa-comments"> <%= request.comment_count %></i>
  </td>
</tr>
