<h1>Projects</h1>

<div class="user-projects">
  <ul>
    <% @projects.each do |project| %>
      <li>
        <div class="inline"><%= link_to "#{project.title}", project_path(project) %></div>
        <div class="inline float-right small-link"><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <div class="inline float-right small-link"><%= link_to 'Edit', edit_project_path(project) %></div>
      </li>
    <% end %>
  </ul>
</div>

<br>

<% if current_user.admin? || current_user.manager? %>
  <%= link_to 'New Project', new_project_path %>
<% end %>
