<h1>Projects</h1>

<div class="user-projects">
  <table>
    <tr>
      <th>Audit Title</th>
      <th>Organization</th>
    </tr>
    <%= render @projects %>
  </table>
</div>

<br>

<% if policy(:project).new? %>
  <%= link_to 'New Project', new_project_path, class: "button-link button-in-site" %>
<% end %>
