* {
  font-family: Helvetica, sans-serif;
  color: #05334F;
}

.flash-text {
  color: #d40000;
}

.below-list {
  margin: 1.1em 0;
}

.bolded {
  font-weight: bold;
}

.button-link {
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: none;
  background-color: #07649B;
  color: #F7FCFF;
  padding: 6px 12px 6px 12px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-radius: 5px;
}

.button-link:hover {
  background-color: #1983C1;
}

.button-in-site {
  font-size: 1em;
}

.center-button {
  width: 50%;
  text-align: center;
}

.centered {
  text-align: center;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.float-right {
  float: right;
}

.form-button {
  display: inline;
}

.inline {
  display: inline-block;
}

.request-show-description {
  width: 80%;
}

.right-justify {
  text-align: right;
}

.show-all-link {
  font-size: 0.9em;
}

.summary-container {
  width: 80%;
}

.user-projects li {
  background-color: #F7FCFF;
  padding: 16px 4px;
  border: 0.25em;
  border-color: #3A96CE;
  border-style: solid;
  margin-bottom: -0.25em;
}

.user-projects li a {
  padding-left: 0.2em;
  font-size: 1.5em;
  text-decoration: none;
}

.user-projects li a:hover {
  text-decoration: underline;;
}

.welcome-container {
  width: 90%;
  max-width: 820px;
  margin: 0 auto;
}

.welcome-button {
  display: inline-block;
  width: 80px;
  padding: 10px 12px 10px 12px;
}

body {
  margin: 0;
  background-color: #F7FCFF;
  background-repeat: no-repeat;
}

footer {
  background-color: #3A96CE;
  width: 100%;
  bottom: 0;
  position: fixed;
}

footer a:link {
  color: white;
}

footer a:visited {
  color: white;
}

footer a:hover {
  color: #fafafa;
}

footer p {
  text-align: center;
  font-size: 10px;
  color: #FFF;
  margin: .4em auto .4em;
}

h1, h2, h3 {
  color: #07649B;
}

input[type="text"], textarea {
  background-color: white;
}

label {
  vertical-align: bottom;
}

li {
  list-style-type: none;
}

main {
  margin: auto;
  min-height: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 90%;
}

ul {
  padding-left: 0;
}

/**TABLE***/

.request-list tr {
  background-color: #F7FCFF;
  border: 2px;
  border-color: #3A96CE;
  border-style: solid;
}

.request-info a {
  width: 100%;
  display: block;
}

.status-open {
  background-color: #87EDB9;
}
.status-sub {
  background-color: #FFE292;
}
.status-closed {
  background-color: #FFAC92;
}

table {
  min-width: 400px;
}

table, th, td {
  border-collapse: collapse;
}

table a {
  text-decoration: none;
}

td {
  padding: 6px 7px;
  font-size: 1.1em;
}

/**** Navbar ****/

nav {
  width: 100%;
  position: fixed;
  top: 0;

  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #3A96CE;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

nav a:hover {
  color: #fafafa;
  background-color: #1B75AB;
}

.responsive-menu {
  display: none;
}

.responsive-menu ul {
  padding: 0;
  margin: 0;
}

.responsive-menu li {
  list-style: none;
  display: inline-block;
  padding: 0;
}

.responsive-menu a {
  padding: 10px 12px;
}


@media only screen and (min-width:530px) {

  .responsive-menu {
    display: block !important;
  }

  .responsive-menu li {
    float: left;
  }

  .responsive-menu li.logout-button {
    float: right;
  }

  .menu-btn {
    display: none;
  }
}

@media only screen and (max-width: 530px) {
  .responsive-menu.expand {
    display: block;
  }

  .responsive-menu.expand li {
    display: block;
    width: 100%;
  }
  .responsive-menu.expand a {
    display: block;
    width: 100%;
  }

}

@media only screen and (max-width:960px) {
  main {
    width: 90%;
  }
}

/* Small screen settings */
@media only screen and (max-width:480px) {
  main {
    font-size: 125%;
  }

  .summary-container {
    width: 100%;
  }

  a.button-link {
    width: 100px;
    font-size: 120%;
  }
}
